# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code settings
.vscode/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# macOS and system files
.DS_Store
Thumbs.db
