
    div{
        font-style:Arial;
        font-size:15px;
        margin-top:0px;
        margin-bottom:0px;
        background-color:black;


    }
    .welcome{
        margin-top:0px;
        margin-bottom:0px;

    }
    .db{
        margin: top 0px;
        margin-bottom:0px;

    }
    .intro{
        background-color:rgb(233, 169, 169);
        margin-bottom:0px;
        margin-top:0px;
        border-width:0px;
        font-size:25px;
        margin-block-start:0px;
       
    }
    .container{
        display:grid;
        grid-template-columns: 1fr 4fr;
        font-weight:bold;
        font-size:15px;
        margin-top:0px;
        border-width:0px;
        

    }
    .right-column{
        display:grid;
        grid-template-rows: 1fr 2fr;
        background-color:grey;
        border-radius:10px;
    
        
    }
    .left-column{
       
        color:white;
        font-weight:bold;
        padding-left:10px;
        background-color: rgb(15, 15, 15);

    }
    .middle-column{
        background-color:rgb(233, 169, 169);
        padding-left:10px;
        padding-right:20px;

    }
    .recent{
        margin-bottom:0px;
        padding-bottom:0px;
        
        border:none;
        margin-bottom:0px;
      

    }

