
<!-- 
{%extends 'main.html'%} 
{% block content %}  -->


    <style>
      .login-form{
          background-color:white;
          display:grid;
          height:500px;

          
          grid-template-columns:1fr 1fr 1fr;
          


        
        }
      .login-form-content{
          background-color:lightblue;
          text-align:center;
          border-radius:20px;
          font-size:20px;
          border-radius:15px;
          

      }

      .sign-up{
        margin-top:150px;

      }

      .reg{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
      }
      
      .register-form{
          background-color:lightblue;
      
          border-radius:20px;
          font-size:20px;
          border-radius:15px;
          
          width:500px;

          

      }

    </style>
{% if page == 'login' %}

<div class="login-form">
  <div></div>
  <div class="login-form-content">
     <form  method="POST"  action="">
  {%csrf_token%}

  <p>
     <label>Username</label>
  

  </p>
<p>
    
  <input style="background-color:white;
    font-style:Arial;
    font-size:20px;
    
    border-width:none;
    padding:5px; "
  type="text" name="username"  placeholder="Enter Username"/>

  </p>
 
  <p>
       <label>Password</label>
  
  

  </p>
  <p>
    
  
  <input style="background-color:white;
    font-style:Arial;
    font-size:20px;
    
    border-width:none;
    padding:5px; 
    "
  type="password"  name ="password"  placeholder="Enter Password"/>

  </p>
 
 

 <p>
  <input style="
    background-color:white;
    font-style:Arial;
    font-size:20px;
    border-radius:15px;
    border-width:none;
    padding:5px;
    cursor:pointer;
    width:250px;
    margin-bottom:0;
    
    " type="submit"  value="login"/>

 </p>
  



</form>

<div class="sign-up">
  <p>Haven't Signed Up/Registered Yet?</p>
  <p><a href="{% url 'register' %}">Register/SignUp</a></p>

</div>



{% else %}

<div class="reg">
  <div></div>
  <div>
 <form class="register-form" method="POST"  action="">
  {%csrf_token%}
  {{form.as_p}}

  <input style="
    background-color:white;
    font-style:Arial;
    font-size:20px;
    border-radius:15px;
    border-width:none;
    padding:5px;
    cursor:pointer;
    width:250px;
    margin-bottom:0;
    text-align:center;
    margin-left:130px;
    "
    
    
  type="submit"  value="register"/>
<p style="padding-bottom:100px;">Already Signed Up/Registered?<a href="{% url 'login' %}">Log In</a></p>


</form>

  </div>
  <div></div>
  

</div>


{% endif %}
  </div>
  <div></div>

 

</div>

<!-- {% endblock %}  -->

 





