{%extends 'main.html'%}
{% block content %}
<div style="background-color:lightblue;
font-size:20px;
font-weight:bold;
font-family:Arial;
height:600px;
 box-sizing: border-box;">
    <form style="height:50px;" method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}   

        <input style="
    background-color:white;
    font-style:Arial;
    font-size:20px;
    border-radius:15px;
    border-width:none;
    padding:5px;
    cursor:pointer;
    width:250px;
    margin-bottom:0;
    text-align:center;
    
    "
     
        type="submit"  value="Submit"/>



    </form>
</div>
{%endblock%}