{%extends 'main.html'%}
{% block content%}
<style>
  .client-details{
    background-color:lightblue;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-left:200px;
    margin-right:200px;
    height:500px;
    padding-top:20px;

  }
</style>
<div class="client-details">
<p>First Name={{bookings.first_name}}</p>
<p>Last Name ={{bookings.last_name}}</p>
<p>Email ={{bookings.email}}</p>
<p>Phone ={{bookings.phone}}</p>
<p>Destination={{bookings.destination}}</p>
</div>



{%  endblock%}