{%extends 'main.html'%}

{% block content %}
<style>
    body{  
        background-color:lightblue;
    }
      

    .welcome{
        margin-top:0px;
        margin-bottom:0px;

    }
    .db{
        margin: top 0px;
        margin-bottom:0px;

    }
    .intro{
        background-color:lightblue;
        margin-bottom:0px;
        margin-top:0px;
        border-width:0px;
        font-size:25px;
        margin-block-start:0px;
       
    }
    .container{
        display:grid;
        grid-template-columns: 1fr 4fr;
        font-weight:bold;
        font-size:15px;
        margin-top:0px;
        border-width:0px;
        background-color:#F0F0F0;
        

    }
    .right-column{
        display:grid;
        grid-template-rows: 1fr 1fr;
        background-color:#F0F0F0;
        border-radius:10px;
    
        
    }
    .left-column{
       
        color:black;
        font-weight:bold;
        padding-left:10px;
        background-color:lightblue; 
        border-radius:20px;
        font-size:18px;

    }
    .middle-column{
        background-color:yellowgreen;
        padding-left:10px;
        padding-right:20px;
        border-radius:20px;
        font-size:18px;
        font-family:Arial;

    }
    .top-column{
        background-color:white;
        border-radius:20px;
        font-size:18px;
        font-family:Arial;
        

    }
    .recent{
        margin-bottom:0px;
        padding-bottom:0px;
        font-family:Arial;
        font-size:25px;
        
        border:none;
        margin-bottom:0px;
      

    }

</style>

<div class="intro">
    <form method="GET"  action="{% url 'dashboard' %}">
        <input type="text" name=""q" placeholder="Search clients or Itineraries"/>
        

    </form>

<p><h1 class="Db"> Dashboard </h1></p>

<p>Hello {{request.user}}</p>

<p class="welcome">Welcome to the Nomad Tour Management System! Manage your clients, and itineraries with ease</p>
</div>


<div class="container">
    <div class="left-column">
        <h2>Navigation</h2>
    <p><a href="{%url 'clientList'%}">Check/Manage  Clients</a> </p>
       <hr style="border:1px solid black;">
    <p><small><a href="{% url 'newBooking'%}">Create New Client</a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="{% url 'newItinerary'%}">Create New Itinerary</a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="{%url 'itinerary'%}">Pending Action</a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="#profile">Profile Settings</a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="#settings">Subscription</a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="#help">Help and Support </a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="#activity">Recent Activity</a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="#systemUpdate">System Update</a> </small></p>
       <hr style="border:1px solid black;">
    <p><small><a href="#logout">LogOut</a> </small></p>
       <hr style="border:1px solid black;">
    </div>
    
    <div class="right-column">
        <div class="top-column">
    
        <h2 class="recent">Most Recent Clients</h2>
        <ul>
            {% for client in  bookings %}
            
                <li><h4>{{ client.email }}  {{ client.last_name }}<a href="{% url 'updateBooking' client.id %}">Edit</a>|<a href="{% url 'deleteBooking' client.id %}">Delete </a></h4></li>
                  <hr style="border:1px solid black;">
            {% endfor %}
        </ul>
        </div>
    
        <div class="middle-column">
          <p ">Most Recent Itineraries</p>
          <ul>
            {% for itinerary in itinerary %}
                <li>{{ itinerary.first_name }}:{{ itinerary.date }}-{{ itinerary.activity }}<a href="{% url 'updateItinerary' itinerary.id %}">Edit</a>|<a href="{% url 'deleteItinerary' itinerary.id %}">Delete </a></li>
                <hr style="border:1px solid black;">
            {% endfor %}
          </ul> 
          
          
        </div>
    </div>
    
   
</div>





{% endblock %}
